#sharetools {height:23px;width:auto;float:right;}
#sharetools .facebook {float:left;width:110px;text-align:left;}
#sharetools .facebookshare {float:left;width:90px;text-align:left;}
#sharetools .twitter {float:left;width:110px;text-align:right;}
#sharetools .pinterest {float:left;text-align:left;width:64px;position:relative;}
#sharetools .google1 {float:left;width:90px;text-align:right;}
#sharetools .facebooksend {float:left;width:85px;}
#sharetools .facebookrecommend {float:left;width:140px;text-align:left;}